.wrapper {
    height: 100%;
    background-image: url("/assets/background.jpg");
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }